
    header{
    background-color: white;
        .container{
            display: flex;
        justify-content: space-between;
        }
        padding: 40px 0.5%;
    
}

form{
    .form-select{
        width: 200px
    }
}

.spinner{
    div{
        display: none;
    }
}
 

