.heroBanner{
    
        background-image: url("./img/freeLife.jpg");
    height: 100vh;
    background-size: cover;
   
    
    
    @media only screen and (max-width:576px){
        
        
            background-image: url("./img/heroResponsiv.jpg");
            height: 100vh;
    background-size: cover; 
    }
}
//////////desktop
// Users list
/////////Mobile
// cards 
